<ion-header>
  <ion-toolbar>
    <ion-title>
      ติดต่อเรา
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-label>
        <h1>ช่องทางติดต่อเรา</h1>
      </ion-label>
    </ion-row>
    <ion-row class="mt-4">
      <a href="https://www.facebook.com/ACCPSC/?_rdc=2&_rdr">
        <ion-item>
          <ion-icon size="large" name="logo-facebook" color="primary"></ion-icon>
          &nbsp;&nbsp; facebook - ACC dev app
        </ion-item>
      </a>
    </ion-row >
  </ion-grid>

  <ion-list class="text-center">
    <ion-button color="light" (click)="gotomain()" color="primary">กลับหน้าหลัก</ion-button>
  </ion-list>




</ion-content>
