<ion-header [translucent]="true" >
  <ion-toolbar   style="margin-top: 4%; margin-bottom: 4%;" >
    <ion-title>

 
      <ion-grid   margin-right: auto; margin-left: auto;>
        <ion-row>
          <ion-col style="margin-right: 8px;" size="1"> <ion-icon   size="large"   name="ellipsis-vertical-outline"></ion-icon>   </ion-col>
          <ion-col size="1"  style="font-size: 26px; margin-bottom: 8%;" >ติดต่อเรา</ion-col>
        </ion-row>
      </ion-grid>


</ion-title>
  </ion-toolbar>
</ion-header >




   
<ion-content [fullscreen]="true" style="color:#fff;background-color: #fff;"  >
 
<ion-grid style="  margin-right: auto; margin-left: 2em;   margin-top: 6em; margin-bottom: auto;
">
  <ion-row> <ion-col>  <ion-label><h1>ช่องทางติดต่อเรา</h1></ion-label>
 </ion-col>


  </ion-row>

  <ion-row> 

 
 <ion-col>  <ion-label><h1><ion-icon  size="large"   name="logo-facebook"></ion-icon> facebook - ACC dev app</h1> </ion-label>
  </ion-col>
  </ion-row>
</ion-grid>

 
 
  <ion-button style="  margin-left:1em  ; margin-right:auto;
  margin-top:  26em;


  text-align: center;
" color="light" (click)="gotodetail()"><h1>กลับหน้าหลัก</h1></ion-button>
</ion-content>
